# FastAPI backend base URL
EXPO_PUBLIC_API_URL=http://10.0.2.2:8000/api

# FastAPI WebSocket URL
EXPO_PUBLIC_WS_URL=ws://10.0.2.2:8000/delivery/ws

# For physical devices on local Wi-Fi, change 10.0.2.2 to your PC's local IP (e.g. 192.168.1.X)
